@keyframes RGBgrad {
   0% {background-color: #400000;}
   16% {background-color: #402500;}
   33% {background-color: #404000;}
   50% {background-color: #004000;}
   66% {background-color: #000040;}
   83% {background-color: #400040;}
   100% {background-color: #400000;}
}

body {animation: RGBgrad 20s infinite;}
marquee {color: #ffffff;}